<!DOCTYPE html>
<html>
<head>
    <title>Lost & Found</title>
</head>
<body>

<h1>Lost & Found</h1>

<p>
    <a href="/posts/new"><button>Create Post</button></a>
    <a href="{{ url_for('profile') }}"><button>Profile</button></a>
</p>

<form method="GET" action="/search">
    <input type="text" name="query" placeholder="Search posts">
    <button type="submit">Search</button>
</form>

<hr>

<h2>Recent Posts</h2>

{% if posts|length == 0 %}
  <p>No posts yet.</p>
{% endif %}

{% for post in posts %}
  <div>
    <h3>
      <a href="/posts/{{ post._id }}">{{ post.title }}</a>
    </h3>
    <p>{{ post.description }}</p>
    <p><b>Type:</b> {{ post.type }} | <b>Status:</b> {{ post.status }}</p>
    {% if post.location_text %}
      <p><b>Location:</b> {{ post.location_text }}</p>
    {% endif %}
    {% if post.created_at %}
      <p class="item-meta">
        <small>
          Posted: {{ post.created_at }} | 
          Posted by: 
          {% if post.author_id %}
            <a href="{{ url_for('profile_by_id', user_id=post.author_id) }}">{{ post.author_name }}</a>
          {% else %}
            {{ post.author_name }}
          {% endif %}
        </small>
      </p>
    {% endif %}
  </div>
  <hr>
{% endfor %}

</body>
</html>