<!DOCTYPE html>
<html>
<head>
    <title>Lost & Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="phone">
<div class="screen">

<div class="topbar">
    <div class="avatar-dot"></div>
    <div class="page-title">Found</div>
</div>

<div class="main">

<h1 class="h1 center">Lost something?</h1>
<p class="sub center">Find it here!</p>

<div class="search-block">
<form method="GET" action="/search">
    <input class="search-input" type="text" name="query" placeholder="Search posts">
</form>
</div>

<div class="list">

{% if posts|length == 0 %}
  <p>No posts yet.</p>
{% endif %}

{% for post in posts %}
  <a href="/posts/{{ post._id }}" style="text-decoration:none;color:inherit;">
  <div class="item-row">

      <div class="thumb"></div>

      <div>
        <p class="item-title">{{ post.title }}</p>

        <p class="item-meta">
            {{ post.type }} | {{ post.status }}
        </p>

        <p class="item-desc">
            {{ post.description }}
        </p>

        {% if post.location_text %}
        <p class="item-meta">
            {{ post.location_text }}
        </p>
        {% endif %}
      </div>

  </div>
  </a>
{% endfor %}

</div>

<a href="/posts/new" class="primary-btn">Create Post</a>

</div>

</div>
</div>

</body>
</html>